body { 
  margin: 0;
  padding: 0;
  background-color: rgb(17, 16, 31);
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

/*
.reset {
  background-color: blue;
  width: 200px;
  height: 200px;
  position: absolute;
  left:0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
*/

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  min-width: 100vw;
  min-height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  animation-name: video;
  animation-fill-mode: forwards;
}

.background-container2 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  min-width: 100vw;
  min-height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  animation-name: video;
  animation-fill-mode: forwards;
  opacity: 0;
}

.tractorbeam {
  background-color: #266b36;
  opacity: .58;
  bottom:0;
  height: 0;
  position: absolute;
  margin-bottom: 0px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;

  animation-name: tractorbeam;
  animation-duration: 10s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  transition: ease;
}

.innertractorbeam {
  background-color: #26a900;
  opacity: .58; 
  margin-bottom: 0px;
  height: 0px;
  margin-left: auto;
  margin-right: auto;
  transition: ease;

  animation-name: innertractorbeam;
  animation-duration: 10s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}

@keyframes tractorbeam {
  5% {
    width: 0px;
    height: 0px;

  }

  15% {
    width: 8vw;
    height: 70vh;
  }

  
  42% {
    width: 8vw;
    height: 70vh;
  }

  46% {
     width: 0px;
     height: 0px;
  }
  
  100% {
    width: 0px;
    height: 0px;
  }
}

@keyframes innertractorbeam {
  5% {
    width: 0px;
    height: 0px

  }

  15% {
    width: 6vw;
    height: 70vh;
  }

  
  42% {
    width: 6vw;
    height: 70vh;
  }
  
  46% {
    width: 0px;
    height: 0px;
  }

  100% {
    width: 0px;
    height: 0px;
  }
}

/*Tractor Beam Alert*/
.tractorbeamalert {
  background-color: #266b36;
  opacity: .58;
  bottom:0;
  height: 0;
  position: absolute;
  margin-bottom: 0px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;

  animation-name: tractorbeamalert;
  animation-duration: 1s;
  animation-delay: 5.8s;
  animation-iteration-count: 1;
  transition: ease;
  animation-fill-mode: forwards; 
}

.innertractorbeamalert {
  background-color: #26a900;
  opacity: .58; 
  margin-bottom: 0px;
  height: 0px;
  margin-left: auto;
  margin-right: auto;
  transition: ease;

  animation-name: innertractorbeamalert;
  animation-duration: 1s;
  animation-delay: 5.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
}

@keyframes tractorbeamalert {
  0% {
    width: 0px;
    height: 0px;

  }

  100% {
    width: 8vw;
    height: 70vh;
  }
}

@keyframes innertractorbeamalert {
  0% {
    width: 0px;
    height: 0px
  }
  
  100% {
    width: 6vw;
    height: 70vh;
  }
}

/*End of Tractor Beam Alert*/


.cow {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -400px;
  margin: auto;
  width: 8vw;
  height: 8vh;
  background-image: url('assets/asset_cow 02.svg');
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;

  animation-name: beammeupscotty;
  transition: ease;
  animation-delay: 5s;
  animation-duration: 10s;
  animation-iteration-count: infinite; 
  z-index: 1;
  opacity: 1; 
  
}

@keyframes beammeupscotty {
  0% {
    bottom: -400px;
    opacity: 1;
  }
   20% {
    bottom: 35vh; 
  }

  25% {
    bottom: 38vh; 
  }

  35% {
    bottom: 35vh;
  }


  40% {
    bottom: 60vh;
    opacity: 1;
  }

  41% {
    bottom: 60vh;
    opacity: 0;
  }
  100% {
     bottom: 600px;
    opacity: 0;
  }

}

/*cow alert*/

.infinitealert {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -400px;
  margin: auto;
  width: 8vw;
  height: 8vh;
  background-image: url('assets/asset_cow 02.svg');
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;

  animation-name: beammeupscottyalert;
  transition: ease;
  animation-delay: 36s;
  animation-duration: 2s;
  animation-iteration-count: infinite; 
  z-index: 1;
  opacity: 1; 
  
}

@keyframes beammeupscottyalert {
  0% {
    bottom: -400px;
    opacity: 1;
  }
  98% {
    bottom: 60vh;
    opacity: 1;
  }

  100% {
    bottom: 60vh;
    opacity: 0;
  }

}
/**/

h1 {
	font-family: 'Bangers', cursive;
	color: rgb(120, 160, 210);
	font-size: 3vw;
	top: 10px;
	left: 30px;
	position: absolute;
}


.ufo {
  position: absolute;
  top: -300px;
  left: 0;
  right: 0;
  margin: auto;
  width: 25vw;
  height: 25vh; 
  background-image: url('assets/asset_ufo.svg');
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat; 

  transition: ease; 
  animation-name: ufopickup;
  animation-delay: 5s;
  animation-duration: 10s;
  animation-iteration-count: infinite;  
}

@keyframes ufopickup {
  0% {
    top: -300px;
    left: 0;
    right: 0;
  }

  7% {
   top: 18vh;
    left: 0;
    right: 0;	
  }

  48% {
    top: 18vh;
    left: 0;
    right: 0;
  }

  55% {
    top: -300px;
    left: 800px;
  }

  100% {
    top: -300px;
    left: 800px;
  }

}



/* Alarm State*/

.ufoblue {
  position: absolute;
  top: -300px;
  left: 0;
  right: 0;
  margin: auto;
  width: 25vw;
  height: 25vh; 
  background-image: url('assets/asset_ufo 02.svg');
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat; 

  transition: ease; 
  animation-name: ufopickupblue;
  animation-duration: .65s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;  
}

@keyframes ufopickupblue {
  0% {
    top: -300px;
    left: 0;
    right: 0;
  }

  100% {
   top: 18vh;
    left: 0;
    right: 0; 
  }

}

/* *End of Alarm State*/


.Cowcounter {
  position: absolute;
  cursor: pointer;
  top: 12vw;
  right: 6vw;
  width: 3vw;
  height: 3vw;
  margin-left: auto;
  margin-right: auto;  
  background-image: url('assets/asset_cow.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  animation-duration: .6s;
  animation-iteration-count: infinite;
}

.cowcounternumber {
  font-family: 'Bangers', cursive;
  color: rgb(208, 124, 42);
  position: absolute;
  top: 13vw;
  right: 2vw;
  width: 3vw;
  height: 3vw;
}

.battery {
  position: absolute;
  top: 50px;
  left: 40px;
  width: 10vw;
  height: 10vw;
  background-image: url('assets/asset_battery 01.svg');
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;
  animation-name: swapImage;
  animation-duration: 30s;
  animation-iteration-count: infinite;  
  animation-timing-function: steps(1, start);
}

/*Alarm state Battery*/
.batterydoublecharge {
  position: absolute;
  top: 0px;
  left: 20px;
  width: 20vw;
  height: 20vw;
  background-image: url('assets/asset_battery 13.svg');
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;
}
/*End of Alarm state Battery*/

@keyframes swapImage {
  0% {
    background-image: url('assets/asset_battery 01.svg');
  }
  8.3% {
    background-image: url('assets/asset_battery 02.svg');
  }
  16.6% {
    background-image: url('assets/asset_battery 03.svg');
  }  
  24.9% {
    background-image: url('assets/asset_battery 04.svg');
  }  
  33.2% {
    background-image: url('assets/asset_battery 05.svg');
  }  
  41.5% {
    background-image: url('assets/asset_battery 06.svg');
  }
  49.8% {
    background-image: url('assets/asset_battery 07.svg');
  }
  58.1% {
    background-image: url('assets/asset_battery 08.svg');
  }  
  66.4% {
    background-image: url('assets/asset_battery 09.svg');
  }  
  74.7% {
    background-image: url('assets/asset_battery 10.svg');
  }  
  83% {
    background-image: url('assets/asset_battery 11.svg');
  }    
  91.3% {
    background-image: url('assets/asset_battery 12.svg');
  }   

}