body {
	background: #1d1d1d;
	
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 45pt;
	margin-top: 15%;
	color: white;
}

h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 12pt;
	margin: 0;
}

a {
	text-decoration: none;
	color: white;
}

#wrapper, #headerwrapper, #footerwrapper {
	padding: 20px;
}

#holidaylayout, #ps-note {
	position: relative;
	margin: 0 auto;
}


.holiday-item {
	font-size: 8pt;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin-bottom: 40px;
	transition: .3s ease-out;
	display: block;
	
}

.holiday-item:hover {
	-webkit-box-shadow: 16px 12px 34px -5px rgba(0,0,0,0.50);
	-moz-box-shadow: 16px 12px 34px -5px rgba(0,0,0,0.50);
	box-shadow: 16px 12px 34px -5px rgba(0,0,0,0.50);
	transition-duration: .5s;
	transform: translate(-10px, -10px);
}

.holiday-picture {
	max-height: 300px;
	padding: 0

}

.holiday-picture img {
	max-width: 100%;
	max-height: 100%;
	
}

.holiday-context {
	padding: 1em 0 0 1em;
}

#ps-note {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

@media only screen and (min-width: 600px) {

	#holidaylayout {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 20px;
		padding: 50px;
		line-height: 1.2em;
		font-size: 12pt;
		
	}
		
}


@media only screen and (min-width: 900px) {

	#holidaylayout {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-column-gap: 50px;
	}
	
	h1 {
		font-size: 85pt;
	}
}

@media only screen and (min-width: 1440px) {

	#holidaylayout {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-column-gap: 70px;
		max-width: 2400px;
	}
		
}