


.background-container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -5;
	min-width: 100vw;
	min-height: 100vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation-delay: 2s;

}


/*.blackbox {
	width: 300px;
	height: 675px;
	background-color: black;
	position: fixed;
	top: 0;
	right: 0;
	box-shadow: -5px 15px 135px 5px black;
}*/

h1 {
	padding-left: 85px;
	font-family: lato;
	text-transform: uppercase;
	
}

.gas {
  		font-size: 100pt;
  		letter-spacing: 115px;

  	}

  	.voight {
  		font-size: 24pt;
  		padding-bottom: 50px;
  	}


  	}

.ticket {
  	border: 2px solid black;
	position: fixed;
	top: 606px;
	left: 85px;
	width: 124px;
	height: 26px;
	font-family: lato;
	text-align: center;
	vertical-align: middle;
	line-height: 26px;
}


h2 {
 	display: none;
}


.whenwhere{
  	display: none;
 }

 img {
  		display: none;
 }


h3 {
  	display: none; 
}


hr {
	display: none;
}
   

div {
  	display: none;
  }


p {
	display: none;
}

@media(max-width: 750px) {  /* Any window smaller than this px width gets the following CSS rules */
  /* Rules go here */
  	
  	body {margin:0 auto;}

  	.background-container {
  		display: none;
  	}

	hr {
	display: block;
	}

  	p {
  		display: block;
  		font-family: lato;
  		text-transform: uppercase;
  		line-height: 25px;
  	}

  	h1 {
  		padding-left: 50px;
  		text-transform: uppercase;
  		font-family: lato;
  	}

  	.gas {
  		font-size: 75px;
  		letter-spacing: 70px;
  		padding-bottom: 0px

  	}

  	.voight {
  		padding-bottom: 50px;
  	}

  	h2 {
  		font-family: lato;
  		text-transform: uppercase;
  		font-size: 20pt;
  		display: block;
  	}

  	.wordless {
  		text-align: center;
  		padding-bottom: 6px;
  	}

  	.ticket {
  		padding: 0px 0px 500px 0px;
  	}

  	.hrone {
  		width: 80%;
  	}

  	.quote {
  		text-align: center;
  		font-size: 15pt;
  		padding: 0px 145px 150px 145px;
  	}

  	.hrtwo {
  		width: 80%;
  	}

  	.info {
  		padding: 10px 0px 20px 70px;
  	}

  	.firstP {
  		padding: 0px 70px 30px 70px;
  	}

  	.hrthree {
  		width: 80%;
  	}

  	.whenwhere{
  		word-spacing: 190px;
  		padding-left: 70px;
  		text-shadow: 10px 10px 95px black;
  	}

  	img {
  		display: block;
  		margin-left: auto;
  		margin-right: auto;
  		width: 90%;
  	}

  	h3 {
  		text-transform: uppercase;
  		font-family: lato;
  		padding: 56px 0px 36px 97px; 
  		display: block;
  	}

  	.hrfour {
  		width: 10%;
   	}

  	.secondP {
  		padding: 10px 70px 55px 97px;
  	}

  	div {
  	margin: auto;
  	display: block;
    width: 124px;
    border: 2px solid black;
    padding: 10px;
    height: 26px;
    font-family: lato;
    text-align: center;
    vertical-align: middle;
    line-height: 26px;
  	}

  	.footerb {
  		background-color: black;
  		width: 100%;
  		padding: 0px;
  		height: 330px;

  	}

  	.footert {
  		color: white;
  		font-size: 8pt;
  		width: 90%;
  	}
}












